.dk-footer{

    margin-top:80px;
    padding:45px 18px 25px;

    background:#fff;

    border-top:1px solid #f1d9e3;
}

/* برند */

.dk-footer-brand{

    text-align:center;

    margin-bottom:35px;
}

.dk-footer-logo{

    width:90px;

    margin-bottom:12px;
}

.dk-footer-brand h2{

    color:#f01873;

    margin-bottom:8px;

    font-size:30px;
}

.dk-footer-brand p{

    color:#777;

    line-height:2;
}

/* گرید */

.dk-footer-grid{

    display:grid;

    grid-template-columns:1fr;

    gap:18px;
}

@media(min-width:768px){

    .dk-footer-grid{

        grid-template-columns:
        repeat(3,1fr);
    }

}

/* کارت */

.dk-footer-card{

    background:#fff7fa;

    border:1px solid #ffe2ee;

    border-radius:24px;

    padding:22px;

    box-shadow:
    0 8px 25px rgba(240,24,115,.06);
}

.dk-footer-card h3{

    color:#f01873;

    margin-bottom:18px;

    font-size:18px;
}

.dk-footer-card h3 i{

    margin-left:8px;
}

.dk-footer-card p{

    color:#666;

    line-height:2;
}

.dk-footer-card a{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#555;

    padding:10px 0;

    transition:.25s;
}

.dk-footer-card a:hover{

    color:#f01873;
}

/* آیکون بله */

.footer-bale-icon{

    width:20px;
    height:20px;
}

/* شبکه اجتماعی */

.dk-footer-social{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:14px;

    margin-top:30px;
}

.dk-footer-social a{

    width:52px;
    height:52px;

    background:#fff7fa;

    border:1px solid #ffd6e6;

    border-radius:16px;

    display:flex;

    align-items:center;

    justify-content:center;

    text-decoration:none;

    color:#f01873;

    font-size:22px;

    transition:.25s;
}

.dk-footer-social a:hover{

    transform:translateY(-4px);

    box-shadow:
    0 8px 20px rgba(240,24,115,.15);
}

.dk-footer-social img{

    width:24px;
    height:24px;
}

/* کپی رایت */

.dk-footer-bottom{

    margin-top:30px;

    padding-top:18px;

    border-top:1px solid #f1d9e3;

    text-align:center;

    color:#777;

    font-size:13px;
}
