<aside class="sidebar">

    <div class="sidebar-top">

        <img
            src="../images/logo/sweet-.png"
            class="sidebar-logo"
            alt="Dell Cake">

        <h2>دل‌کیک</h2>

        <span>Management Panel</span>

    </div>

    <nav class="sidebar-menu">

        <a href="dashboard.html" class="active">
            <i class="fa-solid fa-house"></i>
            <span>داشبورد</span>
        </a>

        <a href="orders.html">
            <i class="fa-solid fa-receipt"></i>
            <span>سفارش‌ها</span>
        </a>

        <a href="gallery.html">
            <i class="fa-solid fa-images"></i>
            <span>گالری</span>
        </a>

        <a href="academy.html">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>آکادمی</span>
        </a>

        <a href="customers.html">
            <i class="fa-solid fa-users"></i>
            <span>مشتریان</span>
        </a>

        <a href="#">
            <i class="fa-solid fa-chart-line"></i>
            <span>گزارش‌ها</span>
        </a>

        <a href="settings.html">
            <i class="fa-solid fa-gear"></i>
            <span>تنظیمات</span>
        </a>

    </nav>

    <div class="sidebar-bottom">

        <button id="logoutBtn">

            <i class="fa-solid fa-right-from-bracket"></i>

            خروج از حساب

        </button>

    </div>

</aside>
