<div id="shareModal" class="share-modal hidden">

  <div class="share-box">

      <img
    src="images/logo/sweet-.png"
    class="share-logo"
    alt="دل‌کیک">
      
    <h2 class="share-title">
    💗 ارسال سفارش دل‌کیک
</h2>

<p class="share-subtitle">
    روش ارسال سفارش خود را انتخاب کنید
</p>

    <button class="share-btn telegram" id="shareTelegram">
    
<img
        src="images/icons/telegram.svg"
        alt="تلگرام"
        class="telegram-icon">
        
    <div class="share-info">
        <strong>تلگرام</strong>
    
    </div>
</button>

<button class="share-btn bale" id="shareBale">

    <img
        src="images/icons/bale.svg"
        alt="بله"
        class="bale-icon">

    <div class="share-info">
        <strong>بله</strong>
        
    </div>

</button>

<button class="share-btn sms" id="shareSMS">
    <i class="fas fa-comment-dots"></i>

    <div class="share-info">
        <strong>پیامک</strong>

    </div>
</button>

<button class="share-close" id="closeShare">
    <i class="fas fa-chevron-down"></i>
    بازگشت
</button>
      
  </div>

</div>
