<div id="sideMenu" class="side-menu">

    <div class="menu-profile">

        <img src="images/logo/sweet-.png" alt="دل کیک">

        <h3>دل‌کیک</h3>

        <p>
            شیرینی، آموزش و خلاقیت
        </p>

    </div>

    <a href="index.html">
        <i class="fas fa-house"></i>
        خانه
    </a>

    <a href="academy.html">
        <i class="fas fa-graduation-cap"></i>
        آکادمی دل‌کیک
    </a>

<a href="order-cake.html" class="menu-order-link">
    <i class="fas fa-cake-candles"></i>
    سفارش کیک و شیرینی
</a>
    
    <a href="index.html#gallerySection">
        <i class="fas fa-image"></i>
        نمونه کارها
    </a>

    <a href="tel:09102768171">
        <i class="fas fa-phone"></i>
        تماس با ما
    </a>

</div>
